/* common */

:root{
  --monte-maincolor: rgb(218, 236, 213);
  --monte-subcolor: #f8d8d2;
  --monte-pointcolor: #e1a398;
  --monte-revaersecolor: rgb(107, 171, 65);
  --monte-footercolor: rgb(164, 196, 148);
  --monte-sidecolor: rgb(145, 178, 137);
  /* --monte-sidecolor: rgb(110, 141, 102); */
  --side_width: 280px;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}
body{
  position: relative;
  display: flex;

  height: 100%;
  background-color: var(--monte-maincolor);
  font-family: 'Kiwi Maru', serif;
  color: rgb(72, 48, 48);
}
.main_area{
  width: 100%;
}
.side_nav{
  display: none;
}
section{
  margin: 0 10px;
  text-align: center;
}
section + section{
  margin: 80px 8px;
}
section a{
  text-decoration: underline;
  transition: color .5s;
}
section a:hover{
  color: var(--monte-revaersecolor);
}
h2{
  font-size: 24px;
  margin:10px 0 30px;
  padding-top: 16px;
}
.container{
  margin: 8px;
}
li + li{
  margin-top: 8px;
}
dt{
  margin-bottom: 4px;
}
dd + dt{
  margin-top: 12px;
}
dd + dd{
  margin-top: 4px;
}
.illust{
  height: 160px;
  object-fit: contain;
  margin: 8px;
}
.illust_top{
  height: 110px;
  object-fit: contain;
}
p{
  max-width: 520px;
  margin: 8px auto;
  text-align: left;
  font-feature-settings: "palt";
}
.marker{
  background:linear-gradient(transparent 65%, #ffad5692 65%);
  font-weight: bold;
}
#to_top{
  position: fixed;
  bottom: 85px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--monte-pointcolor);
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}
#to_top.show{
  opacity: .7;
  pointer-events: all;
}
#to_top:hover{
  opacity: 1;
}
#to_top img{
  width: 40px;
  object-fit: contain;
}

/* カーニング */

.left_bracket_24px{
  margin-left: -10px;
}
.right_bracket_24px{
  margin-right: -10px;
}
.left_bracket_16px{
  margin-left: -6px;
}
.right_bracket_16px{
  margin-right: -6px;
}
.punctuation{
  margin-right: -6px;
}

/* header */

header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 10px;
  display: flex;
  /* align-items: center; */
}
.bord{
  position: relative;
  width: 110px;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
}
div.bord{
  margin: 12px;
}
header h1{
  position: absolute;
  top: 32px;
  left: 15px;
  color: #fff;
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
}
.recruit_h1{
  top: 38px;
  left: 15px;
  font-size: 20px;
}
.logo{
  width: 210px;
  object-fit: contain;
  margin: 12px 8px 0 8px;
  filter: drop-shadow(0 0 4px rgba(0,0,0,.5));
}
header nav{
  display: none;
}

/* sp-nav */

.sp-nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255,255,255,.8);
  z-index: 2;
}
.sp-nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.sp-nav ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 60px;
  margin: 0;
  background-color: var(--monte-pointcolor);
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  /* transition: all .5s; */
}
.sp-nav ul li p{
  font-weight:500;
  margin: 0;
}
.sp-nav ul li img{
  width: 30px;
  margin: 2px 4px;
  object-fit: contain
}

/* main */

.hero{
  width: 100%;
  height: 220px;
  object-fit: cover;
  /* ↓使用画像により調整 */
  object-position: 0% 10%;
}
.recruit_hero{
  width: 100%;
  height: 220px;
  object-fit: cover;
  /* ↓使用画像により調整 */
  object-position: 0% 25%;
}
.strength > dl,
.employee > dl{
  border-left: solid 8px var(--monte-subcolor);
  background: whitesmoke;
  border-radius: 0 12px 12px 0;
  max-width: 460px;
  padding: 0.5em;
  margin: 8px auto;
  text-align: left;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.employee > dl > dd > dl{
  margin: 8px 0;
}
.employee > dl > dd > dl > dd >dl{
  border-radius: 4px;
  border: 1.8px dotted var(--monte-pointcolor);
  width: 280px;
  padding: 8px;
}
.strength p{
  text-indent: 1em;
  line-height: 1.5em;
  letter-spacing: .07em;
}
.strength .outline_img{
  width: 90%;
  max-width: 450px;
  object-fit: contain;
  margin: 8px;
}
.price{
  position: relative;
  background: var(--monte-subcolor);
  box-shadow: 0px 0px 0px 5px var(--monte-subcolor);
  /* border: dashed 2px white; */
  padding: 0.2em 0.5em;
  margin: 8px;
  color: #454545;
}
.price:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: var(--monte-maincolor) var(--monte-maincolor) var(--monte-pointcolor);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.nursing ul li,
.outline dl{
  border-right: solid 8px var(--monte-subcolor);
  background: whitesmoke;
  border-radius: 12px 0 0 12px;
  max-width: 420px;
  padding: 0.5em;
  margin: 8px auto;
  text-align: right;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.nursing ul li{
  width: 180px;
  border-radius: 7px 0 0 7px;
  margin: 8px auto;
}
.outline .floor{
  margin-top: 24px;
  width: 300px;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
}
.plan table{
  margin: auto;
}
.plan table th,
.plan table td{
  text-align: center;
  vertical-align: middle;
  padding: 4px 2px;
  line-break: normal;
  font-size: 10px;
}
.plan table th{
  background-color: var(--monte-subcolor);
  border: 1px solid #aaa;
}
.plan table td{
  background-color: #fff;
  border: 1px solid #aaa;
}
.plan small,
.plan p{
  text-align: left;
}
.plan p::before{
  content: "●";
}
.plan_other{
  border: dashed 2px var(--monte-pointcolor);
  background: rgba(255,255,255,.5);
  border-radius: 8px;
  max-width: 400px;
  padding: 0 0 16px 16px;
  margin: 16px auto;
}
.plan_other h3{
  font-size: 16px;
  width: 100%;
  margin: 8px auto;
}
.plan_other li{
  font-size: 14px;
  text-align: left;
}
.plan_other li::before{
  content: "･";
}
.employee{
  margin: 0 8px 80px;
}
.entry p{
  text-align: center;
}
.entry dl{
  border: dotted 2px var(--monte-pointcolor);
  background: rgba(255,255,255,.5);
  border-radius: 8px;
  max-width: 400px;
  padding: 16px;
  margin: 0 auto;
}
.entry dl dt::before{
  content: "■";
}
.vertical{
  writing-mode: vertical-rl;
  min-height: 80px;
  min-width: 12px;
}
.events ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.events ul li:nth-child(1){
  color: rgb(225, 163, 7);
}
.events ul li:nth-child(2){
  color: rgb(254, 149, 205);
}
.events ul li:nth-child(3){
  color: rgb(94, 182, 240);
}
.events ul li:nth-child(4){
  color: rgb(241, 87, 210);
}
.events ul li:nth-child(5){
  color: rgb(253, 153, 31);
}
.events ul li:nth-child(6){
  color: rgb(41, 118, 41);
}
.events dt{
  font-family: 'Leckerli One', cursive;
}
.events span{
  font-size: 70px;
  font-weight: normal;
}
.events p{
  text-align: center;
}
.event{
  height: 100px;
  object-fit: contain;
}
.alliance dt + dt{
  margin-bottom: 8px;
}
.alliance dd + dt{
  margin-top: 24px;
}
.contact > p{
  margin: 16px auto;
}
.contact a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 320px;
  background-color: var(--monte-revaersecolor);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .6);
  margin: 12px auto;
  padding: 4px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: all .5s;
}
.contact a:hover{
  /* background-color: var(--monte-pointcolor); */
  color: #fff;
}
.contact a img{
  width: 40px;
  object-fit: contain;
  margin: 4px;
}
.contact dt{
  font-weight: normal;
}
.access address{
  margin: 8px;
}
.access dt,
.access dd{
  text-align: center;
}
.access dt::before{
  content: "■";
}
#map{
  height: 300px;
  width: 95%;
  max-width: 500px;
  border-radius: 8px;
  margin: 8px auto;
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
  color: #fff;
  background-color: var(--monte-footercolor);
  box-shadow: 0 0 10px 10px var(--monte-footercolor);
}
footer img{
  height: 24px;
  object-fit: contain;
}
footer small{
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}
footer div{
  display: flex;
  margin: 2px 0;
}
footer address{
  font-size: 12px;
}
footer ul{
  display: flex;
}
footer ul li{
  font-size: 12px;
  margin: 2px;
}
footer ul li::before{
  content: "■";
}
.sp-footer{
  height: 70px;
}

/* pc/tablet */

@media(min-width:520px){

  /* common */

  .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #to_top{
    bottom: 15px;
  }
  .sp_br{
    display: none;
  }

  /* header */

  header nav{
    display: block;
  }
  header nav ul{
    display: flex;
  }
  header nav ul li{
    border-left: solid 8px var(--monte-subcolor);
    background: whitesmoke;
    border-radius: 0 5px 5px 0;
    max-width: 460px;
    padding: 0.5em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin: 20px 8px 0;
    text-align: left;
    cursor: pointer;
    transition: all .5s;
  }
  header nav ul li:hover{
    border-left: solid 8px var(--monte-revaersecolor);
  }

  /* main */

  .plan table th,
  .plan table td{
    font-size: 13px;
  }
  .contact a:hover{
    background-color: var(--monte-pointcolor);
    color: #fff;
  }

  /* sp-nav */

  .sp-nav{
    display: none;
  }

  /* footer */

  .sp-footer{
    display: none;
  }
}

@media(min-width: 800px){

  /* common */

  .main_area{
    width: calc(100% - var(--side_width));
    position: absolute;
    left: var(--side_width);
  }
  .side_nav{
    display: block;
    position: fixed;
    left: 0;
    height: 100%;
    width: var(--side_width);
    padding: 8px;
    background-color: var(--monte-sidecolor);
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, .4);
    z-index: 1;
  }
  .side_nav h1{
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 14px;
    margin-top: 8px;
    color: #eee;
  }
  .side_logo{
    display: block;
    width: 120px;
    object-fit: contain;
    margin: 4px auto 20px;
  }
  .side_nav ul li{
    border-right: solid 8px var(--monte-subcolor);
    background: whitesmoke;
    border-radius: 5px 0 0 5px;
    padding: 0.5em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin: 8px;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
  }
  .side_nav ul li:hover{
    border-right: solid 8px var(--monte-revaersecolor);
  }
  .side_nav ul li:last-child{
    margin-top: 30px;
  }
  .well{
    width: 50px;
    object-fit: contain;
    display: block;
    margin: 40px auto 4px;
  }
  .side_nav small{
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #eee;
  }
}

@media(min-width: 1100px){
  
  /* header */

  header > div{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
  }

  /* main */

  .hero,
  .recruit_hero{
    height: 300px;
  }
  .hero{
    /* ↓使用画像により調整 */
    object-position: 0% 20%;
  }
}
